.dv-border-box-10 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

    .dv-border-box-10 .dv-border-svg-container {
        position: absolute;
        display: block;
    }

    .dv-border-box-10 .right-top {
        right: 0px;
        transform: rotateY(180deg);
    }

    .dv-border-box-10 .left-bottom {
        bottom: 0px;
        transform: rotateX(180deg);
    }

    .dv-border-box-10 .right-bottom {
        right: 0px;
        bottom: 0px;
        transform: rotateX(180deg) rotateY(180deg);
    }

    .dv-border-box-10 .border-box-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        min-height: 150px;
        min-width: 200px;
        justify-content: center;
        align-items: center;
    }

        .dv-border-box-10 .border-box-content .border-box-inside {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20px;
            margin-right: 20px;
        }
