.dv-decoration-6 {
    position: relative;
    width: 100%;
    height: 100%;
}

    .dv-decoration-6 .dv-decoration-svg-container {
        position: absolute;
        display: block;
    }

    .dv-decoration-6 svg {
        transform-origin: left top;
    }
