<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DataVforBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"><Icon Type="home"  Style="font-size:22px" Theme="outline" /></span> <span style="margin-top:2px">介绍</span>
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="boderbox">
                <span class="oi" aria-hidden="true"><Icon Style="font-size:22px" Type="border-outer" Theme="outline" /></span> <span style="margin-top:2px">边框</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Decoration">
                <span class="oi" aria-hidden="true"><Icon Type="pic-center" Style="font-size:22px" Theme="outline"/></span> <span style="margin-top:2px">装饰</span>
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="FlylineChart">
                <span class="oi" aria-hidden="true"><Icon Type="radar-chart" Style="font-size:22px" Theme="outline" /></span> <span style="margin-top:2px">飞线图</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConicalColumnChart">
                <span class="oi" aria-hidden="true"><Icon Type="area-chart" Style="font-size:22px" Theme="outline" /></span> <span style="margin-top:2px">锥形柱图</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CapsuleChart">
                <span class="oi" aria-hidden="true"><Icon Type="bar-chart" Style="font-size:22px" Theme="outline" /></span> <span style="margin-top:2px">胶囊柱图</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PercentPond">
                <span class="oi" aria-hidden="true"><Icon Type="percentage" Style="font-size:22px" Theme="outline" /></span> <span style="margin-top:2px">进度池</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
