.dv-decoration-5 {
    position: relative;
    width: 100%;
    height: 100%;
}

    .dv-decoration-5 .dv-decoration-svg-container {
        position: absolute;
        display: block;
    }
    .dv-decoration-5 .decoration-box-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        min-height: 150px;
        min-width: 200px;
        justify-content: center;
        align-items: center;
    }

        .dv-decoration-5 .decoration-box-content .border-box-inside {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
