@page "/"
@using DataVforBlazor
@using DataVforBlazorTest.Pages.ExampleComponents.BoderBox
<div style="width:680px;height:240px;background-color:black;padding:45px;">
    <Decoration_1></Decoration_1>
</div>


@code {
  

}
