@page "/"
@using DataVforBlazor

<PageTitle>DataVforBlazor</PageTitle>

<div style="width:610px;height:350px;background-color:#282c34;align-items:center;justify-content:center;display:flex">
    <div style="width:500px;height:300px;background-color:#282c34;">
        <ActiveRingChart Config="config"></ActiveRingChart>
    </div>
</div>


@code
{
    ActiveRingChartConfig config = new ActiveRingChartConfig { 
        data=new List<ActiveRingData>{
            new ActiveRingData{ name="周口", value=55 },
            new ActiveRingData{ name="南阳", value=120 },
            new ActiveRingData{ name="西峡", value=78 },
            new ActiveRingData{ name="驻马店", value=66 },
              new ActiveRingData{ name="新乡", value=80 },
        }
    };

    
}