@page "/"
@using DataVforBlazor

<PageTitle>DataVforBlazor</PageTitle>
<div style="width:722px;height:600px;background-color:#282c34;">
    <FlylineChart Config="@config" />
</div>
@code {
    FlylineChartConfig config = new FlylineChartConfig();
    protected override async Task OnInitializedAsync()
    {
        //await Task.Yield();
        //await Task.Delay(1000);
        config.bgImgSrc = "map.jpg";
        config.icon.src = "mapPoint.png";
        FlylineChartPoint p1 = new FlylineChartPoint
            {
                name = "昆明",
                coordinate = new DvPoint(0.48, 0.35)
            };

        FlylineChartPoint p2 = new FlylineChartPoint
            {
                name = "鹤庆",
                coordinate = new DvPoint(0.88, 0.17)
            };
        FlylineChartPoint p3 = new FlylineChartPoint
            {
                name = "丽江",
                coordinate = new DvPoint(0.22, 0.77)
            };
        config.flylinePoints.Add(p1);
        config.flylinePoints.Add(p2);
        config.flylinePoints.Add(p3);

        config.lines.Add(new FlylineChartFlyLine
            {
                source = "鹤庆",
                target = "昆明"
            });
        config.lines.Add(new FlylineChartFlyLine
            {
                source = "丽江",
                target = "昆明"
            });

        await base.OnInitializedAsync();
    }
}