@page "/PercentPond"
@using DataVforBlazor
@using System.ComponentModel
@using AntDesign.TableModels
@using DataVforBlazorTest.Pages.ExampleComponents.PercentPond
@using Newtonsoft.Json
<PageTitle>进度池</PageTitle>
<div style="width:610px;height:300px;background-color:#282c34;align-items:center;justify-content:center;display:flex">
    <div style="width:200px;height:100px;background-color:#282c34;">
        <PercentPond Config="config"></PercentPond>
    </div>
</div>

<div style="margin-top:20px;margin-bottom:50px">
    <span style="font-size:14px">json:</span>
<TextArea Style="margin-top:10px" Rows="3" @bind-Value="@json" />

    <Button Style="margin-top:10px" Type="@ButtonType.Primary" OnClick="Button_Click">应用</Button>
</div>
<div style=" margin-top:50px">
    <ConfigDoc />
</div>
@code {
  
    PercentPondConfig config = new PercentPondConfig
        {
            value = 66,
        };
    string json = "";

    protected override void OnInitialized()
    {
        json = JsonConvert.SerializeObject(config);
    }
    private void Button_Click()
    {
        config = JsonConvert.DeserializeObject<PercentPondConfig>(json);
    }
}
